timesformer_*.ckpt
wandb/

.DS_Store

/env
/predict

/train_scrolls/*
!/train_scrolls/.gitkeep

/checkpoints/*
!/checkpoints/.gitkeep

/all_labels/*
!/all_labels/.gitkeep

/pictures/*
!/pictures/.gitkeep

*.png

